@model Csharp_Passion_Project.Models.PlayerDto
@{
    ViewBag.Title = "Details";
}

<h2>@ViewData["title"]</h2>

<nav>
    <p>
        @if (Model.TeamId == 0)
        {
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edit", "Edit", new { id = @Model.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "ConfirmDelete", new { id = @Model.Id }, new { @class = "btn btn-danger" })
        }
        else
        {
            @Html.ActionLink("Back to Team Profile", "Details", "Team", new { id = @Model.TeamId }, new { @class = "btn btn-primary" })
        }
    </p>
</nav>

<div>
    <dl class="dl-horizontal">
        <dt>
            Player Id
        </dt>
        <dd>
            @Model.Id
        </dd>

        <dt>
            Player Name
        </dt>
        <dd>
            @Model.FName&nbsp;@Model.LName
        </dd>

        <dt>
            Date of Birth
        </dt>
        <dd>
            @Model.DOB
        </dd>

        <dt>
            Country
        </dt>
        <dd>
            @Model.Country
        </dd>

        <dt>
            Base Price
        </dt>
        <dd>
            @Model.BasePrice
        </dd>

    </dl>
</div>
